{% if BANDAS_LATERALES == "onduladas" or BANDAS_LATERALES == "rectas" %}
<div class="hidden xl:flex justify-center items-stretch pointer-events-none select-none" aria-hidden="true">
    <svg class="h-full w-28 opacity-85" xmlns="http://www.w3.org/2000/svg">
        <defs>
            <!-- Filtro de desenfoque nativo -->
            <filter id="desenfoque-suave" x="-20%" y="-20%" width="140%" height="140%">
                <feGaussianBlur stdDeviation="5" />
            </filter>

            <pattern id="banda-{{ BANDAS_LATERALES }}-{{ stroke_1|slugify }}-{{ stroke_2|slugify }}-{{ stroke_3|slugify }}" 
                     width="112" height="160" patternUnits="userSpaceOnUse">
                {% if BANDAS_LATERALES == "onduladas" %}
                    <path d="M 28 0 C 8 20, 8 60, 28 80 C 48 100, 48 140, 28 160" 
                          fill="none" class="{{ stroke_1 }}" stroke-width="10" stroke-linecap="round" />
                    
                    <path d="M 52 0 C 32 20, 32 60, 52 80 C 72 100, 72 140, 52 160" 
                          fill="none" class="{{ stroke_2 }}" stroke-width="10" stroke-linecap="round" />
                    
                    <path d="M 76 0 C 56 20, 56 60, 76 80 C 96 100, 96 140, 76 160" 
                          fill="none" class="{{ stroke_3 }}" stroke-width="10" stroke-linecap="round" />
                {% elif BANDAS_LATERALES == "rectas" %}
                    <path d="M 28 0 V 160" 
                          fill="none" class="{{ stroke_1 }}" stroke-width="10" stroke-linecap="round" />
                    
                    <path d="M 52 0 V 160" 
                          fill="none" class="{{ stroke_2 }}" stroke-width="10" stroke-linecap="round" />
                    
                    <path d="M 76 0 V 160" 
                          fill="none" class="{{ stroke_3 }}" stroke-width="10" stroke-linecap="round" />
                {% endif %}
            </pattern>
        </defs>
        <rect width="100%" height="100%" 
              fill="url(#banda-{{ BANDAS_LATERALES }}-{{ stroke_1|slugify }}-{{ stroke_2|slugify }}-{{ stroke_3|slugify }})" 
              filter="url(#desenfoque-suave)" />
    </svg>
</div>
{% else %}
<div></div>
{% endif %}