<div class="hidden absolute inset-0 overflow-visible 
            pointer-events-none z-0 w-full sm:grid grid-cols-3 items-center">
    <!-- Blob Superior Izquierdo (Rojo/Naranja) -->
    <div class="h-full flex items-center justify-center">
        <div class="w-[65%] aspect-square 
        bg-gradient-to-br from-red-400 to-orange-400 opacity-40 blur-3xl rounded-[60%_40%_30%_70%_/_60%_30%_70%_40%]"></div>
    </div>

    <div class="h-full flex items-center justify-center">
        <div class="w-[65%] aspect-square 
        bg-gradient-to-br from-orange-400 to-yellow-400 opacity-40 blur-3xl rounded-[60%_40%_30%_70%_/_60%_30%_70%_40%]"></div>
    </div>

    <div class="h-full flex items-center justify-center">
        <div class="w-[65%] aspect-square 
        bg-gradient-to-tr from-yellow-500 to-green-400 opacity-40 blur-3xl rounded-[80%_80%_40%_40%/70%_70%_30%_30%]"></div>
    </div>

    <div class="h-full flex items-center justify-center">
        <div class="w-[65%] aspect-square 
        bg-gradient-to-tr from-green-500 to-cyan-400 opacity-40 blur-3xl 
        rounded-[30%_60%_70%_40%_/_50%_60%_30%_60%]"></div>
    </div>

    <div class="h-full flex items-center justify-center">
        <div class="w-[65%] aspect-square 
        bg-gradient-to-br from-cyan-400 to-indigo-400 opacity-40 blur-3xl 
        rounded-[46%_68%_78%_61%_/_44%_52%_86%_74%]"></div>
    </div>

    <div class="h-full flex items-center justify-center">
        <div class="w-[65%] aspect-square 
        bg-gradient-to-br from-indigo-400 to-violet-400 opacity-40 blur-3xl 
        rounded-[65%_35%_45%_55%_/_35%_65%_45%_55%]"></div>
    </div>
</div>



<!-- rojo - naranja
    naranja - amarillo
    amarillo - verde
    verde - cian 
    cian - añil
    añil - violeta  -->
