annotated-doc==0.0.4
asgiref==3.12.1
build==1.4.2
click==8.4.2
colorama==0.4.6
Django==6.0.7
django-tailwind-cli==4.6.2
django-typer==3.7.3
markdown-it-py==4.2.0
mdurl==0.1.2
packaging==26.2
pillow==12.3.0
Pygments==2.20.0
pyproject_hooks==1.2.0
python-dotenv==1.2.2
rich==15.0.0
semver==3.0.4
setuptools==82.0.1
shellingham==1.5.4
sqlite_bro==0.13.1
sqlparse==0.5.5
sv-ttk==2.6.0
typer==0.25.1
tzdata==2026.3
wheel==0.46.3
whitenoise==6.12.0
wppm==17.4.20260511
