{% extends 'base.html' %}

{% block content %}

    <section class="my-8">
        {% include 'core/componentes/_carrousel.html'%}
    </section>

    <section class="my-8">

        <div id="noticias-container" 
            class=" flex flex-col gap-4 w-full items-center"
            hx-get="{% url 'noticias:htmx_ultimas_noticias' %}"
            hx-trigger="revealed"
            hx-swap="innerHTML">
            
            <div class="flex flex-col gap-4 w-full">
                <div class="skeleton h-32 w-full"></div>
                <div class="skeleton h-32 w-full"></div>
                <div class="skeleton h-32 w-full"></div>
            </div>
            
        </div>
    </section>

{% endblock %}